---
import CommonHead from '../components/CommonHead.astro';
import Header from '../components/Header.astro';
import Feed from '../components/Feed.astro';
---

<html lang="en">
  <head></head>
  <CommonHead />
  <body class="bg-gray-50 dark:bg-gray-900">
    <Header />
    <Feed />
  </body>
</html>
