---
let title = 'rLens';
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Icons"
    rel="stylesheet"
  />
  <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
</head>
